
<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a href="/Staff/Index/" aria-expanded="false">
                    <i class="fa fa-users"></i><span class="nav-text">Personeller</span>
                </a>
            </li>
            <li>
                <a href="/Testimonial/Index/" aria-expanded="false">
                    <i class="fa fa-registered"></i><span class="nav-text">Referanslar</span>
                </a>
            </li>
            <li>
                <a href="/OurService/Index/" aria-expanded="false">
                    <i class="fa fa-bell"></i><span class="nav-text">Hizmetlerimiz</span>
                </a>
            </li>
        </ul>
    </div>
</div>
