<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("/Views/Shared/LayoutPartials/HeadPartial.cshtml")
</head>
<body>
    <div class="container-xxl bg-white p-0">

        <!-- Spinner -->
        @await Html.PartialAsync("/Views/Shared/LayoutPartials/SpinnerPartial.cshtml")

        <!-- Header -->
        @await Html.PartialAsync("/Views/Shared/LayoutPartials/HeaderPartial.cshtml")

        @RenderBody()

        <!-- Newsletter -->
        @await Html.PartialAsync("/Views/Shared/LayoutPartials/SubscribePartial.cshtml")

        <!-- Footer -->
        @await Html.PartialAsync("/Views/Shared/LayoutPartials/FooterPartial.cshtml")

        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    @await Html.PartialAsync("/Views/Shared/LayoutPartials/ScriptPartial.cshtml")
</body>
</html>
