@model CreateUserDTO
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title text-center text-primary text-uppercase">Kayıt Ol</h6>
            <h1 class="mb-5">Rezervasyon için<span class="text-primary text-uppercase"> Kayıt Ol</span></h1>
        </div>
        <div class="col-md-6 mx-auto">
            <div class="wow fadeInUp" data-wow-delay="0.2s">
                <form method="post">
                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="name" placeholder="Ad" asp-for="Name">
                                <span asp-validation-for="Name" class="text-warning"></span>
                                <label for="name">Ad</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="surname" placeholder="Soyad" asp-for="Surname">
                                <span asp-validation-for="Surname" class="text-warning"></span>
                                <label for="surname">Soyad</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <select class="form-select" id="city" asp-for="City">
                                    <option value="">Şehir Seçiniz</option>
                                    @foreach (var city in Enum.GetNames(typeof(City)))
                                    {
                                        <option value="@city">@city</option>
                                    }
                                </select>
                                <span asp-validation-for="City" class="text-warning"></span>
                                <label for="city">Şehir</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="tel" class="form-control" id="phone" placeholder="Cep Telefonu" pattern="[0-9]{10}" maxlength="10" value="5" asp-for="PhoneNumber">
                                <span asp-validation-for="PhoneNumber" class="text-warning"></span>
                                <label for="phone">Cep Telefonu</label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-floating">
                                <input type="email" class="form-control" id="email" placeholder="E-Posta" asp-for="Email">
                                <span asp-validation-for="Email" class="text-warning"></span>
                                <label for="email">E-Posta</label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-floating">
                                <input type="password" class="form-control" id="password" placeholder="Şifre" asp-for="Password">
                                <span asp-validation-for="Password" class="text-warning"></span>
                                <label for="password">Şifre</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary w-100 py-3" type="submit">Kayıt Ol</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


