@using System.Diagnostics.Metrics
@model List<StaffDTO>
@{
    int counter = 1;
}
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<a href="/Staff/Create/" class="btn btn-success">Yeni Personel Ekle <span class="btn-icon-right"><i class="fa fa-plus"></i></span></a>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Personel Listesi</h4>
        <div class="table-responsive">
            <table class="table table-bordered table-striped verticle-middle">
                <thead>
                    <tr>
                        <th scope="col" class="col-1">#</th>
                        <th scope="col" class="col-4">Personel Adı</th>
                        <th scope="col" class="col-4">Personel Ünvanı</th>
                        <th scope="col" class="col-3">Aksiyon</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td><b>@counter</b></td>
                            <td>@item.StaffName</td>
                            <td>@item.StaffTitle</td>
                            <td>
                                <div class="d-flex flex-xs-column justify-content-md-between">
                                    <a href="#" class="btn btn-info mb-2">Bilgi <span class="btn-icon-right"><i class="fa fa-info"></i></span></a>
                                    <a href="/Staff/Update/@item.ID" class="btn btn-warning mb-2 mx-2">Düzenle <span class="btn-icon-right"><i class="fa fa-pencil"></i></span></a>
                                    <a href="/Staff/Delete/@item.ID" class="btn btn-danger mb-2">Sil <span class="btn-icon-right"><i class="fa fa-close"></i></span></a>
                                </div>
                            </td>
                        </tr>

                        counter++; // Her döngü adımında counter'ı artır
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

